<!DOCTYPE html>
<html lang="en">
{% load static %}

<!-- 
THIS IS THE LANDING PAGE
                      or in other words the index

This is where you can choose to LOGIN or REGISTER

 -->

 
<head>
  <!-- CSS for buttons to login and register -->
    <style> 
        .div1 {
          margin: auto;
          width: 30%;
          text-decoration: none;
        }

        .img {
          border: none;
        }
        
        .div1:hover {
          border: transparent;
          text-decoration: none;
        }
       
        </style>
  <title>Main page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<header class='title'>
    <h1><center><img  src= "{% static 'capturecampus\media\capture.png'%}"></center></h1>
  </header>
<!-- BACKGROUND IMAGE -->
<body style=  "background-image: url( '{% static "capturecampus\media\background1.png" %}');">
    
    <!-- BUTTON TO LOGIN (image) -->
    <div class="div1">
  <center><a href="/login" ><button>
    <img  src= "{% static 'capturecampus\media\login.png'%}">
      </button></center></a>
  <br>
  <br>
  <br>
  <br>
  <!-- BUTTON TO REGISTER (image) -->
  <a href="/register"><center><button>
<img  src= "{% static 'capturecampus\media\register.png'%}">
  </button></center></a>
  <br>
  <br>
  <br>
  <br>
  <a href="/about"><center><button>
<img  src= "{% static 'capturecampus\media\ABOUT US.png'%}"width="200" height="150">
  </button></center></a>
     
</div>

</body>
</html>