<!DOCTYPE html>
<html lang="en">
    <style>
        .center {
            padding: 70px 0;
            border: 3px solid rgb(238, 238, 238);
            text-align: center;
          }
          .title {
            background-color: #ffffff;
            text-align: center;
            border: 3px solid black;
        
          }
          .a{
              font-size: 140px;
          }
    </style>
<head>
  <title>Main page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<header class='title'>
    <div class='a'>Campus Capture</div>
  </header>
<body style="background-color:#f2f3f2">

<div class="center">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
  <a href="/login" ><button type="button" class="btn btn-primary btn-block">Log-In</button></li></a>
  <br>
  <a href="/register"><button type="button" class="btn btn-primary btn-block">Register</button></li></a>
     
</div>

</body>
</html>